# Results
results
*.log
*.npz
image_classification/results.tar.gz
image_classification/results
image_classification/results.tsv

# IDE & OS
.idea
.DS_Store

# Documents
*.pdf
*.png
*.jpg
*.pptx

# Python
*.pyc
__pycache__

# VIM
*.swp

# Build
gact/build
gact/dist
gact/gact.egg-info
gact/gact/cpp_extension/*.so
